.icon-48-oranges {
      background-image: url(../images/l_oranges.png);
      padding-left:60px!important;
}

.icon-48-orange {
      background-image: url(../images/l_oranges.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}